# Node Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android Build Outputs
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
output_apk/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
